<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>MINDSPACE</title>
  <meta charset="utf-8">

  <!-- Bootstrap -->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

  <!-- Font Awesome -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js" crossorigin="anonymous">
  </script>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet">

<!-- Custom CSS -->

  <link rel="stylesheet" href="../css/blog.css">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">MINDSPACE</p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <!-- 6 -->
          <li id="home"><a href="/blog">HOME</a></li>
          <li id="about"><a href="/compose">COMPOSE</a></li>
          <li id="contact"><a href="/logout">LOGOUT</a></li>
        </ul>
    </div>
  </nav>

  <body>
    <div class="container">
