<!-- Header -->
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Post</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Ubuntu:wght@300&display=swap"
        rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/blog.css" rel="stylesheet">

    <!-- Material Icons -->

     <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
     rel="stylesheet">

</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">MindSpace</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home    
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/user-page">Blog</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/compose">Compose</a>
                        <span class="sr-only">(current)</span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Page Content -->
    <div class="container compose-body">
        <%if(success!=''){%>
        <div class="alert alert-success" role="alert">
            <strong><%= success %></strong>
        </div>
        <% }%>
        <form action="/do-post" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <h4>Title</h4>
                <input type="text" class="form-control" name="postTitle" placeholder="Title">
            </div>
            <div class="form-group">
                <label class="new-button btn btn-dark" for="upload"><span class="material-icons">
                        add_photo_alternate
                    </span>&nbsp;Upload Image</label>
                <input id="upload" type="file" name="file">
            </div>
            <div class="form-group">
                <h4>Content</h4>
                <textarea class="form-control" name="postBody" rows="8" placeholder="Content"></textarea>
            </div>
            <button type="submit" class="btn btn-dark" name="button">Publish</button>
        </form>
        
    </div>
    
    <div class="footer-blog">
        <p class="footer-p">@ Copyright MindSpace 2020</p>
    </div>
</body>

 <!-- Script -->

 <!-- Bootstrap Js -->

 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
 integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
</script>

<!-- Jquery -->

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
 integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
</script>

</html>