<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>HomePage</title>

  <!-- Google fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Ubuntu&display=swap" rel="stylesheet">

  <!-- Stylesheet -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="css/styles.css"/>
  <!-- Bootatrap Scripts -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>

<body>

  <section class="colored-section" id="title">
    <div class="container-fluid">

      <!-- Nav Bar -->
      <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="">Stress Management</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <!-- ml-auto adds a margin to the left -->
            <li class="nav-item">
              <a class="nav-link" href="">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/meditate">Meditate</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/tips">Tips</a>
            </li>
            <li class = "nav-item">
              <a class ="nav-link" href="/login">Login</a>
            </li>
            <li class = "nav-item">
              <a class ="nav-link" href="/maps">Contact</a>
            </li>
          </ul>
        </div>
      </nav>

      <!-- Title -->

      <div class="row">
        <div class="col-lg-6">
          <h1 class="big-heading">Transforming stress through awareness, education and collaboration.</h1>
        </div>

        <div class="col-lg-6">
          <img class="title-image" src="images/stress.jpg" alt="stressed-person">
        </div>
      </div>
    </div>
  </section>

  <!-- Quiz -->
  <section id="quiz">
    <div id="quiz-carousel" class="carousel slide carousel-fade" data-ride="carousel">
      <div class="carousel-inner">
        <div class="first-page carousel-item active container-fluid">
          <h2 class="page1-heading">Looking for answers? You have to ask the right questions.</h2>
          <p class="page1-text">Take our Stress Mastery Questionnaire to find answers and life-changing solutions.</p>
          <a role="button" class="btn btn-outline-dark btn-lg quiz-button" href="/game">Take Quiz</a>

        </div>
        <div class="second-page carousel-item container-fluid">
          <h2 class="page2-heading">Stress Management</h2>
          <p class="page2-text">There is no stress reduction strategy that is a panacea.The key to reducing stress is to prevent it. Getting enough sleep, a proper diet, avoiding excess caffeine and other stimulants and taking time out to relax may be helpful in this regard.</p>
          <button type="button" class="btn btn-outline-light btn-lg quiz-button">Read More</button>
        </div>

        <div class="third-page carousel-item container-fluid">
          <h2 class="page3-heading">Effects of stress</h2>
          <p class="page3-text">Stress differs for each of us. We respond to stress differently. There are numerous physical as well as emotional responses as illustrated by our list of 50 common signs and symptoms of stress.</p>
          <button type="button" class="btn btn-outline-light btn-lg quiz-button">Read More</button>
        </div>

      </div>
      <a class="carousel-control-prev" href="#quiz-carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#quiz-carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>

  </section>

  <!-- Introduction -->
  <section class="white-section" id="intro">
    <div class="container-fluid">
      <h1 class="intro-heading">What is Stress?</h1>
      <p class="intro-body">
        People have very different ideas with respect to their definition of stress. Probably the most common is, “physical, mental, or emotional strain or tension”. Another popular definition of stress is, “a condition or feeling experienced
        when a person perceives that demands exceed the personal and social resources the individual is able to mobilize.”</p>
      <h2>If Life Were Easy They Would Have Asked For Volunteers</h2>
      <p>Stress is ubiquitous and follows us everywhere. Since there is simply no avoiding it, the task for mental health professionals has become to further our understanding to improve management in our patients and in ourselves.
      </p>


    </div>

  </section>

  <!-- Test -->
  <section class="colored-section" id="test">
    <div class="container-fluid">
      <div class="row">
        <div class="test-content col-lg-6">
          <h1 class="test-heading">Are you stressed?</h1>
          <p class="test-para">Take a short test and find out how badly your specific stressors affect you. Receive a free workbook where you can fully understand your test results and what to do about the areas where stress affects you.</p>
          <a role="button" class="btn btn-outline-light btn-lg quiz-button" href="/game">Take Quiz</a>
        </div>
        <div class="col-lg-6">
          <img class="stress-check" src="images/stress-check.jpeg" alt="stress-check">
        </div>

      </div>
    </div>
  </section>
  <!-- Footer -->
  <footer class="white-section" id="footer">
    <div class="container-fluid">
      <p>© Copyright 2020 No Stress</p>
    </div>
  </footer>
  <script src="//code.tidio.co/jia6sow6zboxicmb8fkdilk6vqpltyxv.js" async></script>
</body>

</html>
