

/* Hide Scroll Bar */

body::-webkit-scrollbar {
  display: none;
}

/* Individual Page */

body#blog-post {
  background-color: #f5f3f4;
}

p{
  color: #8f8f8f;
}

.header {
  font-family: 'Montserrat', sans-serif;
  color: #2D6767;

}

/* Blog Page */

.heading {
  font-family: 'Montserrat', sans-serif;
  color: #2D6767;

}

.card-title {
  font-family: 'Montserrat', sans-serif;
  font-size: large;
  font-weight: 400;
}

.date {
  font-family: 'Ubuntu', sans-serif;
  font-size: small;
}

#comments {
  padding-top: 7%;
}

.compose-body {
  padding-top: 3%;
}

.lead {
  text-align: justify;
  font-size: 1rem;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
}


/* Header */
#blog-container.container-fluid{
  padding: 2% 5%
}



/* Footer */
.footer {
  margin-top: 5%;
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 80px;
  background-color: #eddcd2;
}

.footer-blog{
  margin-top: 5%;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 80px;
  background-color: #eddcd2;

}

.footer-p {
  padding-top: 2%;
}

/* Compose Page */
#compose-body.container-fluid{
  text-align: left;
}

#post.container-fluid{
  padding : 5% 4%;
}

.posts {
  padding: 5% 4%;
}

input[type="file"] {
  display: none;
}

.new-button {
  display: inline-block;
  padding: 9px 12px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
  color: #fff;

}

.form-group {
  padding-top: 2%;
}

.material-icons {
  position: relative;
  top: 4px;
}

.del-buttons{
  margin-left: 10px;
}