* {
    margin: 0;
    padding: 0;

}
body{
    overflow: hidden;
}

.hero {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/banner.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
}

.form-box {
    height: 550px;
    background: #fff;
    margin: 15% 13%;
    padding: 3% 7%;
    width: 450px;
    position: absolute;
}
.form-box-register {
    height: 620px;
    background: #fff;
    margin: 15% 13%;
    padding: 3% 7%;
    width: 450px;
    position: absolute;
}

.social-icons {
    margin: 30px auto;
    text-align: center;

}

.social-icons img {
    width: 40px;
    margin: 0 12px;
    box-shadow: 0 0 20px #7f7f7f3d;
    cursor: pointer;
    border-radius: 50%;
}


.fas{
    position: relative;
    left: -5px;
}
.heading{
    text-align: center;
    font-size: 2rem;
}