<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  <link rel="apple-touch-icon" sizes="180x180" href="./assets/apple-icon-180x180.png">
  <link href="./assets/favicon.ico" rel="icon">
  <link href="" rel="stylesheet">


  <title>Title page</title>

<link href="./main.550dcf66.css" rel="stylesheet"></head>

<body> <!-- Add your content of header -->
<header>
  <nav class="navbar navbar-default active">
    <div class="container">
    <!--   <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button> -->
        <a class="navbar-brand" href="./Article.html" title="">
        </a>
      </div>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="./index.html" title="">Home</a></li>
            </p>
          </li>
        </ul>
      </div> 
    </div>
  </nav>
</header>

<!-- Add your site or app content here -->
  <div class="hero-full-container background-image-container white-text-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1>STRESS</h1>
          <p>ARTICLE ON HOW TO REVEAL STRESS.</p>
          <br>
        </div>
      </div>
    </div>
  </div>

  <div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
          <div class="text-center">
            <h2>10 Simple Ways to Relieve Stress</h2>
          </div>
       </div>
      </div>
    </div>
  </div>

  <div class="section-container">
    <div class="container">
      <div class="row">      
          <div class="col-xs-12">


            <div id="carousel-example-generic" class="carousel carousel-fade slide" data-ride="carousel">
                
                <div class="carousel-inner" role="listbox">

                    <div class="item active">
                        <div class="carousel-caption card-shadow reveal">
                          
                          <h2>Tips to manage stressful situations</h2>
                          <p>
                            It might surprise you to learn that biological stress is a fairly recent discovery. It wasn’t until the late 1950s that endocrinologist Hans Selye first identified and documented stress.</p>
                          <p>Symptoms of stress existed long before Selye, but his discoveries led to new research that has helped millions cope with stress. We’ve compiled a list of the top 10 ways to relieve stress.</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="carousel-caption card-shadow reveal">

                          <h2>Listen to music</h2>
                          <p>
                            If you’re feeling overwhelmed by a stressful situation, try taking a break and listening to relaxing music. Playing calm music has a positive effect on the brain and body, can lower blood pressure, and reduce cortisol, a hormone linked to stress.

                          </p>
                          
                          <p>
                            We recommend cello master Yo-Yo Ma playing Bach, but if classical really isn’t your thing, try listening to ocean or nature sounds. It may sound cheesy, but they have similar relaxing effects to music.
                          </p>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>  
    </div>
  </div>

  <div class="section-container">
    <div class="container text-center">
      <div class="row section-container-spacer">
        <div class="col-xs-12 col-md-12">
          <h2>Talk it out with a friend</h2>
          <p>When you’re feeling stressed, take a break to call a friend and talk about your problems. Good relationships with friends and loved ones are important to any healthy lifestyle.</p>
          <p>They’re especially important when you’re under a lot of stress. A reassuring voice, even for a minute, can put everything in perspective.</p>
        </div>  
      </div>
        <div class="col-xs-12 col-md-4">
          <h2>Talk yourself through it</h2>
          <p>Sometimes calling a friend is not an option. If this is the case, talking calmly to yourself can be the next best thing.</p>
          <p>Don’t worry about seeming crazy — just tell yourself why you’re stressed out, what you have to do to complete the task at hand, and most importantly, that everything will be okay.</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <h2>Drink tea</h2>
      <p>A large dose of caffeine causes a short-term spike in blood pressure. It may also cause your hypothalamic-pituitary-adrenal axis to go into overdrive.</p>
      <p>Instead of coffee or energy drinks, try green tea. It has less than half the caffeine of coffee and contains healthy antioxidants, as well as theanine, an amino acid that has a calming effect on the nervous system.</p>
    </div>
    <div class="col-xs-12 col-md-4">
      <h2>Be mindful</h2>
      <p>Most of the tips we’ve suggested provide immediate relief, but there are also many lifestyle changes that can be more effective in the long run. The concept of “mindfulness” is a large part of meditative and somatic approaches to mental health and has become popular recently.</p>
      <p>From yoga and tai chi to meditation and Pilates, these systems of mindfulness incorporate physical and mental exercises that prevent stress from becoming a problem. Try joining a class.</p>
    </div>
    <div class="col-xs-12 col-md-4">
      <h2>Exercise (even for a minute)</h2>
      <p>Exercise doesn’t necessarily mean power lifting at the gym or training for a marathon. A short walk around the office or simply standing up to stretch during a break at work can offer immediate relief in a stressful situation.</p>
      <p>Getting your blood moving releases endorphins and can improve your mood almost instantaneously.</p>
    </div>
    <div class="col-xs-12 col-md-4">
      <h2>Sleep better</h2>
      <p>Everyone knows stress can cause you to lose sleep. Unfortunately, lack of sleep is also a key cause of stress. This vicious cycle causes the brain and body to get out of whack and only gets worse with time.</p>
      <p>Make sure to get the doctor-recommended seven to eight hours of sleep. Turn the TV off earlier, dim the lights, and give yourself time to relax before going to bed. It may be the most effective stress buster on our list.</p>
    </div>
    <div class="col-xs-12 col-md-4">
      <h2>Breathe easy</h2>
      <p>The advice “take a deep breath” may seem like a cliché, but it holds true when it comes to stress. For centuries, Buddhist monks have been conscious of deliberate breathing during meditation.</p>
      <p>For an easy three- to five-minute exercise, sit up in your chair with your feet flat on the floor and hands on top of your knees. Breathe in and out slowly and deeply, concentrating on your lungs as they expand fully in your chest.</p>
      <p>While shallow breathing causes stress, deep breathing oxygenates your blood, helps center your body, and clears your mind.</p>
    </div>
  </div>
    </div>
  </div>

  <div class="section-container">
    <div class="container text-center">
      <div class="row section-container-spacer">
        <div class="col-xs-12 col-md-12">
          <h2 class="text-center">Eat right</h2>
          <p>Stress levels and a proper diet are closely related. When we’re overwhelmed, we often forget to eat well and resort to using sugary, fatty snack foods as a pick-me-up.</p>
          <p>Try to avoid sugary snacks and plan ahead. Fruits and vegetables are always good, and fish with high levels of omega-3 fatty acids have been shown to reduce the symptoms of stress. A tuna sandwich really is brain food.</p>
        </div>  
      </div>
    </div>
  </div>
  <div class="section-container contact-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-12">
          <div class="section-container-spacer">
            <h2 class="text-center">Laugh it off</h2>
            <p class="text-center">Laughter releases endorphins that improve mood and decrease levels of the stress-causing hormones cortisol and adrenaline. Laughing tricks your nervous system into making you happy</p>
            <p>Our suggestion: watch some classic Monty Python skits like “The Ministry of Silly Walks.” Those Brits are so hilarious, you’ll soon be cracking up, rather than cracking up.</p>
          </div>
        </div>  
      </div>
    </div>
  </div>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
    navbarFixedTopAnimation();
  });
</script>

<footer class="footer-container white-text-container">
  <div class="container">
    <div class="row">

     
      <div class="col-xs-12">
        <h3>Mountain</h3>        
      </div>
    </div>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
    navActivePage();
    scrollRevelation('.reveal');
  });
</script>

--> <script type="text/javascript" src="./main.0cf8b554.js"></script></body>

</html>