<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Stress Result</title>
    <link rel="stylesheet" href="./static/style.css" />
  </head>
  <body>
    <head>
      <title>HomePage</title>
      <link href="./static/css/style.css" rel="stylesheet" type="text/css">
      <style type="text/css">
          body {
              background-image: url(../static/images/Homepage_Background.jpg);
              height: 100vh;
              background-size: cover;
              background-position: center;
          }
      </style>
  </head>
  
  <body>
      <header>
  
          <div class="row">
              <div class="logo">
                  <img src="./static/images/logo.png" </div>
  
                  <ul class="main-nav">
                      <li class="active"><a href="/">Home </a></li>
                      <li><a class="btn" href="/meditate.html">Meditate</a></li>
                      <li class="active"><a href=""> GUIDE </a></li>
                  </ul>
  
              </div>
  
              <div class="hero-one">
                <h1 id="finalScore"></h1>
                  <div class="button">
                    <a class="btn-two" href="/game.html">Take Quiz Again</a>
                </div>
  
      </header>
    <script src="end.js"></script>
  </body>
</html>
