<html>

<head>
    <title>HomePage</title>
    <link href="./static/css/style.css" rel="stylesheet" type="text/css">
    <style type="text/css">
        body {
            background-image: url(../static/images/Homepage_Background.jpg);
            height: 100vh;
            background-size: cover;
            background-position: center;
        }
    </style>
</head>

<body>
    <header>

        <div class="row">
            <div class="logo">
                <img src="./static/images/logo.png" </div>

                <ul class="main-nav">
                    <li class="active"><a href="/">Home </a></li>
                    <li><a class="btn" href="/meditate.html">Meditate</a></li>
                    <li><a class="btn" href="/guide.html">Guide</a></li>
                </ul>

            </div>

            <div class="hero">
                <h1>Are You Feeling Stressed Out?</h1>
                <div class="button">
                    <a class="btn-one" href="/game.html">Take Quiz</a>
                </div>

            </div>

    </header>



</body>

</html>